html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: auto;
  justify-items: center;
  align-items: center;
}

.tabuleiro {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.suspensor-discos {
  display: grid;
  width: 100%;
  column-gap: 20px;
  row-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.haste {
  display: grid;
  width: 100%;
  row-gap: 2px;
  justify-items: center;
  grid-template-rows: repeat(var(--discos), 40px);
}

/* TODO: Usar lerp a partir de tamanho min e max */

.disco {
  display: flex;
  height: 40px;
}

.disco[data-ativo="true"] {
  background-color: black;
  width: 100%;
}

.disco[data-ativo="true"][data-tamanho="1"] {
  background-color: green;
  width: 25%;
}

.disco[data-ativo="true"][data-tamanho="2"] {
  background-color: red;
  width: 40%;
}

.disco[data-ativo="true"][data-tamanho="3"] {
  background-color: orange;
  width: 55%;
}

.disco[data-ativo="true"][data-tamanho="4"] {
  background-color: yellow;
  width: 70%;
}

.disco[data-ativo="true"][data-tamanho="5"] {
  background-color: greenyellow;
  width: 85%;
}

.disco[data-ativo="true"][data-tamanho="6"] {
  background-color: navy;
  width: 100%;
}
